/*  Programmweites style sheet */

.root {
    -tab-button-1: #d6d6d6;
    -tab-button-2: #e6e6e6;
    -tab-button-3: rgba(230,230,230,0);

    -filter-lin-grad-1: linear-gradient(from 50% 17% to 50% 114% , repeat, #E6E6E6, #CBD8EB 100% );

    -lin-grad-1: linear-gradient(from 0% 0% to 100% 100%, -tab-button-1 50%, white 100%);
    -rad-grad-1: radial-gradient(center 50% -40%, radius 200%, -tab-button-2 45%, -tab-button-3 50%);

    -lin-grad-btn-func-1: linear-gradient(from 0% 0% to 100% 100%, -tab-button-1 40%, white 90%);
    -rad-grad-btn-func-1: radial-gradient(center 80% -70%, radius 200%, -tab-button-2 35%, -tab-button-3 40%);

    -style-tab-border-color-1: #4169E1; /*royalblue*/
    -style-tab-border-color-2: #4a77ff;

    -style-extra-pane-color: derive(-fx-base,-5%);

    -lblSelectedLines-color-1: derive(-fx-base, -40%);
    -lblSelectedLines-color-2: derive(-fx-base, -10%);

    -text-color-blue: #002fbe;
}



/* Button "Filme", "Downloads", "Abos" */
.btnTab, .btnTab-sel{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5 20 5 20;
    /*-fx-border: 5;*/
}
.btnTab:focused{
    -fx-background-color: #355c8c, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnTab:hover{
    -fx-background-insets: -1.0,1,1;
}
.btnTab:focused:hover{
    -fx-background-insets: -1.5,1,1;
}
.btnTab-sel{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.3,1,1;
    -fx-text-fill: -text-color-blue;
}
.btnTab-sel:focused{
    -fx-background-insets: -1,1,1;
}
.btnTab-sel:hover{
    -fx-background-insets: -1.5,1,1;
}
.btnTab-sel:focused:hover{
    -fx-background-insets: -1.6,1,1;
}

.pane-border {
    -fx-border-width: 1;
    -fx-border-color: -style-tab-border-color-1;
}
.pane-border-lightgray {
    -fx-border-width: 1;
    -fx-border-color: #d6d6d6;
 }

/* Startdialog beim aller ersten Start */
.btnStartDialog{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5 10;
    /*-fx-border: 5;*/
}
.btnStartDialog:focused{
    -fx-background-color: #8d8d8d, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnStartDialog:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.8,1,1;
}
.btnStartDialog:focused:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -1.4,1,1;
}

.btnStartDialogSel{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: -text-color-blue;
}
.btnStartDialogSel:focused{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnStartDialogSel:hover{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.8,1,1;
}
.btnStartDialogSel:focused:hover{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -1.4,1,1;
}

/* Menü-Button */
.btnFunction{
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5;
    /*-fx-border: 20;*/
}
.btnFunctionWide{
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 3 10 3 10;
}
.btnFunction > .arrow-button, .btnFunctionWide > .arrow-button {
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}
.btnFunction > .arrow-button > .arrow, .btnFunctionWide > .arrow-button > .arrow {
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}
.btnFunction:focused, .btnFunctionWide:focused{
    -fx-background-color: #4898de, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.4,1,1;
}
.btnFunction:hover, .btnFunctionWide:hover{
    -fx-background-color: #005ab0, -lin-grad-btn-func-1, -rad-grad-btn-func-1;
    -fx-background-insets: -0.8,1,1;
}
.btnFunction:focused:hover, .btnFunctionWide:focused:hover{
    -fx-background-color: #005ab0, -lin-grad-btn-func-1, -rad-grad-btn-func-1;
    -fx-background-insets: -1.2,1,1;
}



.alignCenter {
  -fx-alignment: center;
}
.alignCenterRight {
  -fx-alignment: center-right;
}
.alignCenterRightPadding_10 {
  -fx-alignment: center-right;
  -fx-padding: 0 10 0 0;
}
.alignCenterRightPadding_25 {
  -fx-alignment: center-right;
  -fx-padding: 0 25 0 0;
}
.alignCenterLeft {
  -fx-alignment: center-left;
}



/* farblich abgesetzter Bereich in vielen Panes/Dialogen*/
.extra-pane {
    -fx-background-color: -style-extra-pane-color;
/*    -fx-border-radius: 3px;*/
    -fx-background-radius: 3px;
    -fx-border-color: #939a9f;
}


/* ========================================================================== */
/* sind javafx gui Elemente */
/* ========================================================================== */

/* sind alle Context-Menüs */
.context-menu {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #939a9f;
}
.menu-item  {
    -fx-background-radius: 5px;
}
.titled-pane > .title {
    -fx-font-weight: bold;
}
.titled-pane:collapsed > .title {
    -fx-font-weight: normal;
}
.combo-box-base{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.combo-box .arrow-button{
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}
.combo-box > .list-cell{
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}
.combo-box .text-input{
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

/* damit leere Tabellenzeilen nicht angezeigt werden */
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
/* damit leere Treetable-Zeilen nicht angezeigt werden */
.tree-table-row-cell:empty {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}

/* Treetable Zeilenrahmen anzeigen */
.tree-table-row-cell {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-table-cell-border-color;
}

/* tabs of the tabpane*/
.tab .tab-label {
    -fx-text-alignment: center;
    -fx-alignment: center ;
}
.tab-pane {
    -fx-border-width: 1;
    -fx-border-color: -text-color-blue;
 }
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 0 10 0 10;

    -fx-border-width: 1, 2;
    -fx-border-radius: 8 8 0 0, 6 6 0 0;
    -fx-border-insets: 0 3 0 0, 3 6 3 3;
    -fx-border-color: -style-tab-border-color-1, transparent;

    -fx-background-radius: 0, 10 10 0 0, 6 6 0 0;
    -fx-background-insets: 0, 0 3 0 0, 2 5 2 2;
    -fx-background-color:
             transparent,
             -lin-grad-1,
             -rad-grad-1;
    -fx-text-fill: black;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-border-width: 3, 2;
    -fx-border-color: -style-tab-border-color-1, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-border-width: 2, 1, 2;/* 3 Rahmen, damit die "Gesamtbreite" gleich bleibt */
    -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:pressed {
    -fx-border-width: 1, 2;
    -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2;
 }

.tab .tab-label {
     -fx-text-fill: black;
}
.tab:selected .tab-label {
     -fx-text-fill: -text-color-blue;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected  .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* ist nur ein Strich als Trenner: im FilmFilter*/
.pseperator1 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0; /* makes really one-pixel-border */
    -fx-border-color: -p2-color-blue1;
}

.pseperator2 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0; /* makes really one-pixel-border */
    -fx-border-color: -p2-color-blue1;
}

.pseperator3 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 3 0; /* makes really one-pixel-border */
    -fx-border-color: -p2-color-blue1;
}

/* accordion */
.vbox-accordion {
    -fx-padding: 5 5 5 15;
}
.button-accordion {
    -fx-background-color: #b6b6b6, linear-gradient(from 15% 53% to 15% 120% , #C2C2C2, #F1F1F1 100% );
    -fx-background-radius: 5;
    -fx-background-insets: 0,1;
    -fx-padding: 3 30 3 30;
    /*-fx-border: 5;*/
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.button-accordion:hover {
    -fx-background-color: #b2bde1, linear-gradient(from 0% 83% to 0% -37% , repeat, #a0a0a0, #d5d5d5 61% );
}
.button-accordion:hover:focused {
    -fx-background-color: #a1a1a1, linear-gradient(from 0% 83% to 0% -37% , repeat, #a0a0a0, #d5d5d5 61% );
}
.button-accordion:focused {
    -fx-background-color: #b2bde1, linear-gradient(from 0% 83% to 0% -37% , repeat, #808080, #b5b5b5 61% );
}
.button-accordion:pressed {
    -fx-background-color: #b2bde1, linear-gradient(from 0% 83% to 0% -37% , repeat, #808080, #b5b5b5 61% );
}

