/*  Programmweites style sheet */

.button{
    -fx-border-color: #868787;
    -fx-border-radius: 6;
    -fx-border-width: 1;

    -fx-background-color: #d3d3d3;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: black;
}
.button:pressed{
    -fx-border-color: -text-color-blue;
    -fx-border-width: 2;
    -fx-padding: 4 14 4 14;
    -fx-text-fill: -text-color-blue;
}
.button:focused{
    -fx-border-color: -text-color-blue;
    -fx-background-insets: 0,0,0;
}
.button:hover{
    -fx-border-color: -text-color-blue;
    -fx-background-insets: 0,0,0;
}
.button:focused:hover{
    -fx-border-color: -text-color-blue;
    -fx-background-insets: 0,0,0;
}