/*  ogrammweites style sheet */

.button{
    -fx-border-color: #868787;
    -fx-border-radius: 6;
    -fx-border-width: 1;

    -fx-background-color: #d3d3d3;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
    -fx-padding: 4 12 4 12;
    -fx-text-fill: black;
}
.buttonSmall{
    -fx-padding: 4
}
.button:pressed{
    -fx-border-color: -text-color-blue;
    -fx-border-width: 2;
    -fx-padding: 3 11 3 11;
    -fx-text-fill: -text-color-blue;
}
.buttonSmall:pressed{
    -fx-padding: 3;
}
.button:focused{
    -fx-border-color: -text-color-blue;
    -fx-background-insets: 0,0,0;
}
.button:hover{
    -fx-border-color: -text-color-blue;
    -fx-background-insets: 0,0,0;
}
.button:focused:hover{
    -fx-border-color: -text-color-blue;
    -fx-background-insets: 0,0,0;
}